@import './resets';
@import './variables';

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

  body {
  background: $primary-color;
  color: $text-color;
}

.login-modal{
    @include flexCenter(column);
    width: 80% - 40%;

    &_h1{
        font-weight: map-get($font-weights , bold);
    }
}

.light{
    @include theme($light-theme: true);
}